.caption h3, .caption h4, .view-btn {
  text-align: center;
}

.thumbnail {
  margin: 20px auto 10px auto;
  background-color: rgb(236, 236, 236);
}

.exam-container {
  width: 80%;
  margin: 0 auto;
}
