@import "bootstrap-sprockets";
@import "bootstrap";

body {
  width: 100%;
  display: inline-block;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

center, h1 {
  text-align: center;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#dashboard {
  margin-top: -9px;
  width: 15%;
  height: 100%;
  float: left;
  z-index: 0;
  background-color: #d7dde4;
  position: fixed;
  text-align: center;
  color: #000;
}

#content {
  width: 85%;
  float: right;
}

.nav-item {
  display: block;
}

.nav-item{
  a {
    text-decoration: none;
    color: #1b1c1d;
    font-size: 1.5em;
    &:hover {
      color: #474b4a;
    }
  }
}

.pagination-container{
  width: 100%;
  text-align: center;
}

.container {
  margin-bottom: 50px;
}
