.login-containner{
  width: 500px;
  margin: 0 auto;
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

.login-btn {
  width: 100%;
  text-align: center;
}

.login-btn {
  width: 100%;
}
