  <ul class="nav navbar-fixed-left">
    <li class="nav-item"><%= link_to t("question"), supervisor_questions_path %></li>
    <li class="nav-item"><%= link_to t("exam"), supervisor_exams_path %></li>
    <li class="nav-item"><%= link_to t("subjects"), "#" %></li>
    <li class="nav-item"><%= link_to t("trainees"), "#" %></li>
  </ul>
